.wordBox{
    padding: 20px;
    font-size: 20px;
    background-color: #424250;
    height: 3vh;
    border-radius: 15px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wordBlockWrapper{
    margin-bottom: 1.5vh;
}