.wordListWrapper{
    display: flex;
    justify-content: center;
    height: 34vh;
    overflow: auto;
    padding: 1vh;
}

.wordListWrapper::-webkit-scrollbar {
    width: 10px;
}

.wordListWrapper::-webkit-scrollbar-track {
    background: transparent;
}

.wordListWrapper::-webkit-scrollbar-thumb {
    background: #69D1C5;
    border-radius: 10px;
}

.wordListWrapper::-webkit-scrollbar-thumb:hover {
    background: #54A79D;
}
