.title {
    font-weight: bolder;
    font-size: 13vh;
    letter-spacing: 0.07em;
}

.subtitle {
    font-weight: bolder;
    font-size: 2.5vh;
    letter-spacing: 0.07em;
}

.linkItem{
    text-decoration: inherit;
    color: inherit;
}