.flashcardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashCard {
    font-size: 3vh;
    background-color: #424250;
    height: 30vh;
    border-radius: 15px;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashCardArrows {
    margin-left: 1vw;
    margin-right: 1vw;
}