.navigationWrapper{
    height: auto;
    background: linear-gradient(to left, #826AED, #8a2be2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: auto;
}

.navigationGridItems{
    display: flex;
    align-items: center;
    height: 100%;
}

.navigationGridItem{
    margin: 0 1vw;
    font-size: 2.1vh;
}
