.navigationWrapper{
    height: 70px;
    background: linear-gradient(to left, #826AED, #8a2be2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: auto;
}

.navigationWrapper img{
    width: 50px;
}

.navigationGridItems{
    display: flex;
    align-items: center;
    height: 100%;
}

.navigationGridItem{
    margin: 0 50px;
    font-size: 20px;
}