.learnBlock {
    padding:3vh;
    font-size: 2.1vh;
    background-color: #424250;
    height: 25vh;
    border-radius: 15px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20%;
}

.interactionButtons{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3vw;
}

.input input {
    padding-left: 1vw;
    background-color: #757575;
    border-style: solid;
    border-radius: 10px;
    height: 6vh;
    color: #FFFFFF;
    font-family: "Jaldi";
    font-size: 2vh;
    width: 40vh;
}

.input input::placeholder{
    color: #FFFFFF;
}

.input button {
    font-family: "Jaldi";
    font-size: 2vh;
    width: 4vw;
    height: 6vh;
    text-align: center;
    border-style: none;
    border-radius: 15px;
    background-color: #69D1C5;
    color: #FFFFFF;
}

.input button:hover {
    background-color: #54A79D;
}

.input input:focus{
    outline: none;
}

.definition{
    margin-top: 2vh;
    font-weight: bolder;
}

.correctInput{
    border-width: thick;
    border-color: #2B9720;
}

.wrongInput{
    border-width: thick;
    border-color: #E83151;
}

.hintInput{
    border-width: thick;
    border-color: #F2E94E;
}