.deckWrapper {
    background-color: #424250;
    width: 20vw;
    height: 10vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2.1vh;
}

.deckWrapper:hover {
    background-color: #343440;
}

@media only screen and (max-width: 480px){
  .deckWrapper{
    width: auto;
    height: 10vh;
  }
}
